@charset "utf-8";
body,html,*{
	margin: 0;
	padding: 0;
	font-family: 'Gothic A1', serif;
}
.lol {
	background-color: rgb(255, 255, 255);
}
h2 { 
	margin-top: 3em;
	color: rgb(221, 134, 21);
}
.h2 {
	margin-left: 45%;
	margin-right: 45%;
	margin-top:  6em ;
}
.tele {
	background-color: rgb(80, 8, 23);
	float: left ;
	margin-left: 42%;
	margin-right: 25%;
}

#lol {
	background-color: rgb(255, 255, 255);
	margin-left: 9em;
	margin-right: 9em;
}

li {
	float: left;
  }
 
* {
  box-sizing: border-box;
}
a{
	text-decoration:none;
	color: rgb(189, 65, 92);
}

#silder{
	background-color:#CCC;
	width:100%;
	height:550px;
	position:relative;
	
	}
#img{
	width:100%;
	height:550px;
	position:absolute;
	}
			#btn_left{
				height:550px;
				width:100px;
				left:0px;
				top:0px;
				position:absolute;
			}
			#btn_rigth{
				height:550px;
				width:100px;
				right:0px;
				top:0px;
				position:absolute;
				}
.left{
	position:absolute;
	top:40%;
	left:10px;
	opacity:0.4;
	width: 60px;
	height: 70px;
	}
	.left:hover{
		opacity:1;
		}
.right{
	position:absolute;
	top:40%;
	right:10px;
	opacity:0.4;
	width: 60px;
	height: 70px;
	}
	.right:hover{
		opacity:1;
}
.solu {
	padding: 0%;
	margin-left: 32.5%;
	margin-right: 32.5%;
}
.solut {
	padding: 0%;
	width: 100%;
	align-items: center;
	margin-left: 8%;
	margin-right: 20%;
	margin: 3em;
}
.entete_titre {
position: fixed;
  padding: 40px;
  text-align: center;
  background: rgb(128, 9, 35);
  color: white;
	top:50%;
 line-height: normal;
  border: rgb(128, 9, 35);
 border-radius: 110px;
}

.entete_titre h1 {
  font-size: 40px; 
   line-height: normal;


}
h1 {
	text-align: center;
	margin-top: 10px;
}
#rs{
	position: absolute;
	text-align: center;
	
}
.sociaux{
	
	margin: 5px;
}

#menu{
	overflow: hidden;
  background-color: #333;
  position: sticky;
  /*position: -webkit-sticky;*/
  top: 0;
	z-index: 1;
}
h2 {
	margin-left: 2em;
}
p {
	margin-left: 5em;
}
h3 {
	margin-left: 5em;
	text-align: justify;
	margin-right: 5em;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(128, 9, 35);
  }
  
b {
	color: purple;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
p  {
	text-decoration-style: none;
}
li a:hover:not(.active) {
  background-color: rgb(189, 65, 92);
}

.active {
  background-color: rgb(189, 65, 92);
}

.rc {
	margin-right: 0%;
	margin-left: 54%;
}
#contenu{
	border-bottom-width: 0px;
	padding-left: 10em;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	font-family: 'Gothic A1', serif;

}
.titre_section{
	font-size: 26px;
	width: 100%;
	margin-top: 20%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px;
	font-family: 'Gothic A1', serif;
	text-align: center;
}
p{
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-right: 5em;
	color: #291c25;
}

.colonne {
	position: relative;
	  float: left;
	width: 30%;
	  min-height:200px;
	  text-align: center;
	  margin-left: 10px;
	  box-shadow: 2px 5px 4px #888888;
	  padding: 5px;
  }
  
.colonne1 {
	position: relative;
	  float: left;
	width: 31.5%;
	  min-height:200px;
	  text-align: center;
	  margin: 10px;
	  box-shadow: 2px 5px 4px #888888;
	  padding: 5px;
  }
  .excel {
	position: relative;
	  float: left;
	width: 30%;
	  margin-left: 20%;
	  text-align: center;
	  padding: 5px;
  }
  .excel2 {
	position: relative;
	  float: left;
	width: 30%;
	  margin-right: 20%;
	  text-align: center;
	  padding: 5px;
  }
  .colo {
	position: relative;
	  float: left;
	width: 32%;
	  min-height:200px;
	  text-align: center;
	  margin: 10px;
	  box-shadow: 2px 5px 4px #888888;
	  padding: 5px;
  }
  .up {
	  width: 50%;
	  height: 50%;
	  padding: 0px;
	  display: block;
  	  margin-left: auto;
  	  margin-right: auto;
  }
  
  .rocky {
	margin-top: 4em;
	width: 500; 
	margin-left: 110px;
	 margin-right: 50px ;
	  height: 700;
	  float: left ;
}
#rocky {
	margin-left: 10em;
	width: 80% ;
	margin-right: 10em;
}
.toni {
	margin-top: 2em;
	width: 510; 
	margin-left: 5em;
	 margin-right:5em ;
	  height: 700;
	  float: left ;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
    height: auto;
    height: 460px;
  transition: .5s ease;
  backface-visibility: hidden;
  
  margin-left: 0%;
  margin-right: 0%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

iframe {
	margin-left: 25%;
	margin-right: 25%;
}
.colonne:hover .image {
  opacity: 0.3;
}

.colonne:hover .middle {
  opacity: 1;
}

.text {
	position: relative;
  background-color: rgb(128, 9, 35);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
	cursor: pointer;
}

.subscribe-box { 
clear: left;
  font-family: 'Gothic A1', serif;
  text-align: center;
}
.subscribe-box h2 {
  margin: 0 0 .85em 0;
  margin-top: 3em;
  font-weight: 100;
  font-size: 30px;
  font-family: 'Marcellus', serif;
}
.subscribe-box .subscribe {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.subscribe-box .subscribe input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgb(189, 65, 92);
  padding: 1em 0 .8em;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: #4A4141;
  outline: none;
}

.subscribe-box .subscribe button {
  margin-top: 2.4em;
  background: transparent;
  border: 2px solid rgb(189, 65, 92);
  padding: 10px 40px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  transition: 1s;

}

.subscribe-box .subscribe button :hover{

  color: rgb(189, 65, 92);
  padding: 10px 40px;
  transition: 1s;
   
}

/* Footer */
.footer {clear: left;
	padding: 00px;
	  bottom: 0;
	  margin-top: 5em;
	text-align: center;
	background: #ddd;
	  background-color:white ;
  }
  .footer h2{
	  color:  rgb(128, 9, 35);
  }
  